extends layout

block content
  // --------------------------------------------------
  // Phone Ip address form
  // --------------------------------------------------
  div#ipAddressForm.col-md-6
    form(method="post")
      div.form-group
        label(for="ipAddressField") Phone IP address
        input#ipAddressField.form-control(type="text", name="ipAddress")
      button.btn.btn-primary(type="button") OK
