extends layout

block content

  // --------------------------------------------------
  // Alert block for errors
  // --------------------------------------------------
  div.alert.alert-danger(role="alert", ng-show="errorVisible")
    span.glyphicon.glyphicon-exclamation-sign &nbsp;
    | {{errorMsg}}

  // --------------------------------------------------
  // Discovery screen
  // --------------------------------------------------
  div(ng-controller="discoveryController as discovery", ng-show="discovery.show()")
    div.container
      h1 {{'FC_choose_phone' | translate}}
      div.row(ng-repeat="phone in discovery.discovered_phones")
        p.col-md-5 {{phone.name}}
        a.col-md-1.btn.btn-default(ng-click="discovery.select_phone(discovery.discovered_phones.indexOf(phone))") {{'FC_choose' | translate}}


  // --------------------------------------------------
  // Main screen
  // --------------------------------------------------
  div#sms-screen(ng-controller="SMSScreenController as sms", ng-show="sms.show()")
    nav.navbar.navbar-default.navbar-fixed-top
      div.container
        div.navbar-header
          a.navbar-brand {{sms.phone_name()}}
        div.navbar-btn.navbar-right
          a.btn.btn-link(href="#", ng-click="sms.disconnect()")
            span.glyphicon.glyphicon-off

    div#sms-container.container
      div.row
        div#contact-list.list-group.col-md-2
          a.list-group-item(href="#", ng-class="{active: $index == sms.active_contact}", ng-repeat="name in sms.contact_names track by $index", ng-click="sms.set_active_contact($index)") {{name}}
        div#sms-list.col-md-8
          p Yolo SMS 1
          p Yolo SMS 2 
