extends layout

block content
  // --------------------------------------------------
  // Alert block for errors
  // --------------------------------------------------
  div.alert.alert-danger(role="alert", ng-show="errorVisible")
    span.glyphicon.glyphicon-exclamation-sign &nbsp;
    | {{errorMsg}}
